<h1 class = "animated fadeIn fast">Un poco de nuestra historia</h1>
<hr><p class = "animated fadeIn fast">El lavadero nacio en noviembre del 2019, surge como iniciativa de emprendimiento persona, donde el dueño, al aldo del lavadero tambien tiene una casa en medio y del otro lado tambien ya tenia una gomeria, entonces con el tiempo fue invirtiendo en extender u¿y arreglar el edificio para al dia de hoy llegar a incorporar el lavadero con diferentes detalles como bajada mas comoda a la calle, compra de insumos como lavadora industrial y sistema de elevacion de vehiculo, los lavados de vehiculo que se hacen actualmente son 3, Lavado completo del vehiculo (Exterior e interior con lavado de tapiceria) lavado simple y lavado de motor, actualmente el equipo esta conformado por 3 personas donde se dividen los turnos para distribuir las tarea, por el momento lsos tipos de vehiculos con los que se trabaja son autos, motos y camionetas.</p>

<div class="d-grid">
    <div class="col">
        <h5 class="card-title">Patricia</h5>
        <p class="card-text">Realiza el tapizado de los vehicilos, sus tareas comienzan desde que saca los asientos hasta que se vuelven a locar ya limpiados y aspirados, Sus dias de trabajos son sabados y domingos</p>
        <p class="card-text"><small class="text-muted">Edad: 29 años</small></p>
        <div class="d-grid gap-2">
    </div>
    </div>
    <div class="col">
    <div class="card animated fadeIn fast">
        <h5 class="card-title">Fernando</h5>
            <p class="card-text">Tiene como tareas la aspiracion generica dentro de la carroseria, registracion del mismo, laavado y estetica vehicular limitada, sus dias de trabajo son de lunes a viernes </p>
            <p class="card-text"><small class="text-muted">Edad: 28 años</small></p>
            <div class="d-grid gap-2">
    </div>
    </div>
    <div class="col">
    <div class="card animated fadeIn fast">
        <h5 class="card-title">Pedro</h5>
        <p class="card-text">Se encarga de hacer el secado y pulido del vehiculo, tambien se encarga de la verificacion de calidad del lavado, sus jornadas laborales son de lunes a viernes.</p>
        <p class="card-text"><small class="text-muted">Edad: 25 años</small></p>
        <div class="d-grid gap-2">
    </div>
    </div>
    
  </div>





