<main>

  <div class="card mb-3 mt-4" *ngIf="auth.user$ | async as user">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="card-img-top" [src]="user.picture" alt="Card image cap">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bienvenido</h5>
          <p class="card-text">{{user.nickname}}</p>
          <li>{{ user.given_name }}</li>
          <li>{{ user.family_name }}</li>
          <li>{{ user.email }}</li>
          <p>user: {{ user | json }}</p> 

          
        </div>
        <button  (click)="auth.logout()" type="button" class="btn btn-secondary mt-4 ms-4 ml-auto">Logout</button>
      </div>
    </div>
  </div>


  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Bienvenidos a nuestro labadero de vehiculos
        </span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3 border animated fadeIn fast">
      <div class="container-fluid py-1">
        <h1 class="display-5 fw-bold">LAVADERO "EL NEGRO"</h1>
        <p class="col-md-8 fs-4">Aquí encontrarás los mejores servicios para tu auto</p>
        <h3>Ofrecemos:</h3>
        <ul>
          <li>Lavado a presión</li>
          <li>Cera para el auto</li>
          <li>Limpia vidrios</li>
          <li>Mantenimiento de motor</li>
        </ul>
        <button class="btn btn-primary btn-lg" type="button">Explorar Servicios</button>
      </div>
    </div>

    <div class="row align-items-md-stretch animated fadeIn fast mb-4">
      <div class="col-md-6 animated fadeIn fast">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Ubicacion:</h2>
          <p>Ubicación, calle San Roque .... james craik</p>
          <button class="btn btn-outline-light" type="button">Ver Mapa</button>
        </div>
      </div>
      <div class="col-md-6 animated fadeIn fast">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Nuestras Redes:</h2>
          <li>Instagram: angeloparmeggiani87</li>
          <li>Whatsapp: 03534018472</li>
          <li>Facebook: angeloparmeggiani</li>
        </div>
      </div>
    </div>


    <div class="row align-items-md-stretch animated fadeIn fast">
      <div class="col-md-6 animated fadeIn fast">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Contacto:</h2>
          <div class="card animated fadeIn fast">
            <div class="card-header">
              Formulario de contacto
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" required>
                </div>
                <div class="form-group">
                  <label for="telefono">Teléfono</label>
                  <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su teléfono" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Ingrese su email" required>
                </div>
                <div class="form-group">
                  <label for="comentario">Comentario</label>
                  <textarea class="form-control mb-3" id="comentario" rows="3" placeholder="Ingrese su comentario"></textarea>
                </div>
                
                <a class="btn btn-primary" href="mailto:emilianojesusroldan@gmail.com">enviar</a>
        
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 animated fadeIn fast">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Servicio:</h2>
          <h3>Productos:</h3>
          <li>Distribuidores Oficiales de SILISUR</li>
          <li>Revendedores MEGUIARS</li>
          
          <br>
          <h3>Precios:</h3>
          <p>Ofrecemos precios competitivos para todos nuestros servicios. Contáctenos para obtener una cotización.</p>
          <h3>Horarios:</h3>
          <p>Nuestro horario de atención al público es de Lunes a Sábado de 8:00 a.m. a 5:00 p.m.</p>
        </div>
      </div>
    </div>

    <style>

      h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #0066cc;
      }
      h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #6699ff;
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
        color: #003399;
      }
      p {
        font-size: 16px;
        font-style: italic;
        color: #333333;
      }
    </style>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2023
      <br>
      Developed for Practica Profecionalizante 1
      <br>
      by: Emiliano Roldan.
      
    </footer>
  </div>
</main>



    
